# Hospital Outcomes & Quality — Exploratory Analysis

This notebook explores hospital-level quality metrics using CMS public data.
The goal is to understand distribution, trends, and data quality before building KPIs and dashboards.

In [16]:
import pandas as pd

df = pd.read_csv("C:/Users/spand/Downloads/cloud-analytics-portfolio-main/cloud-analytics-portfolio-main/healthcare-hospital-outcomes/data/sample/Hospital_General_Information.csv")
df.head()

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,0,11,0,NaN,8,8,NaN,12,11,NaN
1,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,8,1,NaN,8,8,NaN,12,12,NaN
2,10006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,Acute Care Hospitals,Proprietary,...,0,8,1,NaN,8,8,NaN,12,10,NaN
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,7,0,NaN,8,8,NaN,12,7,NaN
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,2,0,NaN,8,Not Available,5.0,12,6,NaN

In [20]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [17]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5421 entries, 0 to 5420
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   facility_id                                       5421 non-null   object
 1   facility_name                                     5421 non-null   object
 2   address                                           5421 non-null   object
 3   city/town                                         5421 non-null   object
 4   state                                             5421 non-null   object
 5   zip_code                                          5421 non-null   int64
 6   county/parish                                     5421 non-null   object
 7   telephone_number                                  5421 non-null   object
 8   hospital_type                                     5421 non-null   object
 9   hospital_ownership                                5421 non-null   object
 10  emergency_services                                5421 non-null   object
 11  meets_criteria_for_birthing_friendly_designation  2264 non-null   object
 12  hospital_overall_rating                           5421 non-null   object
 13  hospital_overall_rating_footnote                  2564 non-null   object
 14  mort_group_measure_count                          5421 non-null   object
 15  count_of_facility_mort_measures                   5421 non-null   object
 16  count_of_mort_measures_better                     5421 non-null   object
 17  count_of_mort_measures_no_different               5421 non-null   object
 18  count_of_mort_measures_worse                      5421 non-null   object
 19  mort_group_footnote                               1778 non-null   float64
 20  safety_group_measure_count                        5421 non-null   object
 21  count_of_facility_safety_measures                 5421 non-null   object
 22  count_of_safety_measures_better                   5421 non-null   object
 23  count_of_safety_measures_no_different             5421 non-null   object
 24  count_of_safety_measures_worse                    5421 non-null   object
 25  safety_group_footnote                             2071 non-null   float64
 26  readm_group_measure_count                         5421 non-null   object
 27  count_of_facility_readm_measures                  5421 non-null   object
 28  count_of_readm_measures_better                    5421 non-null   object
 29  count_of_readm_measures_no_different              5421 non-null   object
 30  count_of_readm_measures_worse                     5421 non-null   object
 31  readm_group_footnote                              1150 non-null   float64
 32  pt_exp_group_measure_count                        5421 non-null   object
 33  count_of_facility_pt_exp_measures                 5421 non-null   object
 34  pt_exp_group_footnote                             2267 non-null   float64
 35  te_group_measure_count                            5421 non-null   object
 36  count_of_facility_te_measures                     5421 non-null   object
 37  te_group_footnote                                 928 non-null    float64
dtypes: float64(5), int64(1), object(32)
memory usage: 1.6+ MB

In [24]:
df["hospital_overall_rating"] = pd.to_numeric(df["hospital_overall_rating"], errors="coerce")

In [25]:
df.groupby("state")["hospital_overall_rating"].mean().sort_values(ascending=False)

state
UT    4.086957
SD    4.083333
CO    3.866667
MN    3.804878
WI    3.772727
MT    3.625000
ID    3.588235
ND    3.555556
VA    3.459459
KS    3.452381
DE    3.428571
OH    3.416667
RI    3.363636
NE    3.346154
IN    3.329412
OK    3.300000
PA    3.278689
SC    3.265306
NH    3.250000
TX    3.238579
MA    3.207547
OR    3.205128
CT    3.192308
WA    3.120690
MO    3.104478
MD    3.095238
HI    3.090909
ME    3.045455
IA    3.024390
AZ    3.018868
TN    3.015152
NC    3.011628
CA    3.011278
WY    3.000000
MI    2.988506
IL    2.911290
NJ    2.901639
LA    2.895833
AK    2.875000
VT    2.846154
FL    2.834356
NV    2.720000
KY    2.714286
GA    2.675000
WV    2.629630
AR    2.625000
AL    2.568627
NY    2.530303
MS    2.488889
NM    2.450000
DC    2.285714
PR    2.125000
GU    2.000000
VI    1.000000
AS         NaN
MP         NaN
Name: hospital_overall_rating, dtype: float64

In [27]:
df["hospital_overall_rating"].isna().sum()

np.int64(2552)

In [30]:
# Export curated dataset for Tableau
tableau_df = (
    df.groupby("state", as_index=False)
      .agg(
          hospital_count=("facility_name", "count"),
          avg_rating=("hospital_overall_rating", "mean"),
          missing_ratings=("hospital_overall_rating", lambda x: x.isna().sum())
      )
)

tableau_df.to_csv("../data/curated/state_quality_kpis.csv", index=False)

In [31]:
import os
os.path.abspath("../data/curated/state_quality_kpis.csv")

'C:\\Users\\spand\\Downloads\\cloud-analytics-portfolio-main\\cloud-analytics-portfolio-main\\healthcare-hospital-outcomes\\data\\curated\\state_quality_kpis.csv'

In [32]:
os.path.exists("../data/curated/state_quality_kpis.csv")

True